{% block contenido %}
<section class="section">
    <div class="section-body">
      <h2 class="section-title">Formularios de Xiloteca</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-9">
          <div class="card">
            <div class="card-body">
              <form method="POST" id="form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                {% for field in form.visible_fields %}
                  <div class="form-group">
                    <label for='name'>{{ field.label }}</label>
                    {{ field }}
                  </div>
                {% endfor %}

                <div>
                  <button type="submit" class="btn btn-success">
                    <i class="fas fa-user"></i> Registrar
                  </button>
                  <a href="{{ cancel_url }}" class="btn btn-danger">
                    <i class="fas fa-window-close"></i> Cancelar
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock contenido %}