{% extends 'base.html' %}

{% load static %}

{% block scripts %}
<!-- General CSS Files -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<!-- <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"> -->

{% endblock %}

{% block javascript %}
<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="{% static 'assets/js/stisla.js' %}"></script>

<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
{% endblock %}

{% block content %}
<section class="section">
  <div class="section-header">
    {% block tituloFrm %}
    {% endblock %}
  </div>
  <div class="section-body">
    <h2 class="section-title">Formularios de Seguimiento</h2>
    <div class="row">

      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <form method="POST" action="{% url 'voto' %}">
              {% csrf_token %}

              <!-- pregunta[1].eleccion_set.all()  -->
              {% if error_message %} <p><strong>{{ error_message }}</strong></p>
              {% else %}

              {% for p in pregunta %}
              {% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}

              <div>{{forloop.counter}}.- {{ p }}</div>
              {% for e in p.eleccion_set.all %}
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="{{ p.id_pregunta }}eleccion{{ forloop.counter }}" name="{{ p.id_pregunta }}"
                  value="{{e.id_eleccion}}" class="custom-control-input">
                {% if e.texto_eleccion == 1 %}
                <label class="custom-control-label" for="{{ p.id_pregunta }}eleccion{{ forloop.counter }}">Muy
                  Malo</label>
                {% elif e.texto_eleccion == 2 %}
                <label class="custom-control-label" for="{{ p.id_pregunta }}eleccion{{ forloop.counter }}">Malo</label>
                {% elif e.texto_eleccion == 3 %}
                <label class="custom-control-label"
                  for="{{ p.id_pregunta }}eleccion{{ forloop.counter }}">Normal</label>

                {% elif e.texto_eleccion == 4 %}
                <label class="custom-control-label" for="{{ p.id_pregunta }}eleccion{{ forloop.counter }}">Bueno</label>

                {% elif e.texto_eleccion == 5 %}
                <label class="custom-control-label" for="{{ p.id_pregunta }}eleccion{{ forloop.counter }}">Muy
                  Bueno</label>

                {% else %}
                <label class="custom-control-label"
                  for="{{ p.id_pregunta }}eleccion{{ forloop.counter }}">{{e.texto_eleccion}}</label>
                {% endif %}
              </div>
              {% endfor %}
              <br>
              <br>
              {% endfor %}
              <br>
              <button type="submit" class="btn btn-success">
                <i class="fas fa-user"></i> Guardar
              </button>
              {% endif %}
              {% block volver %}
              {% endblock volver %}
          </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>
{% endblock content %}