{% extends 'form.html' %}

{% block tituloFrm %}
<h1>Hoja de vida</h1>
{% endblock %}

{% block tituloFrm2 %}
    <h1>Logros Personales</h1>
{% endblock %}

{% block tituloFrm3 %}
    <h1>Preferencias Laborales</h1>
{% endblock %}

{% block tituloFrm4 %}
    <h1>Capacitaciones</h1>
{% endblock %}

{% block tituloFrm5 %}
    <h1>Experiencia Laboral</h1>
{% endblock %}

{% block tituloFrm6 %}
    <h1>Instruccion formal</h1>
{% endblock %}

{% block tituloFrm7 %}
    <h1>Referencias Personales</h1>
{% endblock %}

{% block volver %}
<a href="{% url 'lista_hoja_de_vida' %}" class="btn btn-danger">
    <i class="fas fa-window-close"></i> Volver
  </a>
{% endblock volver %}


