{% extends 'list.html' %}
{% load static %}

{% block tituloLista %}
<h1>Periodos Academicos</h1>
{% endblock %}

{% block thead %}
<tr>
    <th>Fecha de Inicio</th>
    <th>Fecha de finalización</th>    
 </tr>
{% endblock thead %}

{% block tbody %}


{% if object_list %}
{% for estudiante in object_list %}
<tr>
    <td>{{estudiante.fecha_inicio}}</td>
    <td>{{estudiante.fecha_fin}}</td>
    
    <td><a href="" class="btn btn-warning"><i class="fas fa-edit"></i></a><a href="" class="btn btn-danger"><i
                class="fas fa-trash-alt"></i></a></td>
</tr>
{% endfor %}
{% else %}
<td>No existe ningun Periodo Academico</td>
{% endif %}

{% endblock tbody %}

{% block actualizarTbl%}
<div class="section-footer bg-whitesmoke br">
    <a class="btn btn-success" href="{% url 'lista_periodo_academico' %}" style="cursor:pointer; color:white;"><i
            class="fas fa-sync-alt"></i>
        Actualizar</a>
</div>
{% endblock %}