{% extends 'list.html' %}
{% load static %}

{% block tituloLista %}
<h1>Lista de Estudiantes</h1>
{% endblock %}

{% block thead %}
<tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Telefono</th>
    <th>Estado</th>
    <th>Carrera</th>
    <th>Opciones</th>
</tr>
{% endblock thead %}

{% block tbody %}


{% if object_list %}
{% for estudiante in object_list %}
<tr>
    <td class="align-middle">{{estudiante.nombres}}</td>
    <td class="align-middle">{{estudiante.apellidos}}</td>
    <td class="align-middle">{{estudiante.telefono}}</td>
    {% if estudiante.estado == 'G' %}
    <td class="align-middle">Graduado</td>
    {% else %}
    <td class="align-middle">Egresado</td>
    {% endif %}
    <td class="align-middle">
        <ul>
            {% for carr in estudiante.carrera.all %}
            <li>{{carr}}</li>
            {% endfor %}
        </ul>
    </td>
    <td class="align-middle"><a href="{% url 'editar_estudiante' estudiante.id_estudiante %}" class="btn btn-warning"><i
                class="fas fa-edit"></i></a>
        <a href="{% url 'eliminar_estudiante' estudiante.id_estudiante %}" class="btn btn-danger"><i
                class="fas fa-trash-alt"></i></a>
    </td>
</tr>
{% endfor %}
{% else %}
<td class="align-middle">No existe ningun registro de Mejor graduado</td>
{% endif %}

{% endblock tbody %}

{% block actualizarTbl%}
<div class="section-footer bg-whitesmoke br">
    <a class="btn btn-success" href="{% url 'lista_estudiante' %}" style="cursor:pointer; color:white;"><i
            class="fas fa-sync-alt"></i>
        Actualizar</a>
</div>
{% endblock %}