{% extends 'list.html' %}
{% load static %}

{% block tituloLista %}
<h1>Lista de Ofertas Laborales</h1>
{% endblock %}

{% block thead %}
<tr>
    <th>Cargo</th>
    <th>Empresa</th>        
    <th>Opciones</th>
</tr>
{% endblock thead %}

{% block tbody %}


{% if object_list %}
{% for oferta in object_list %}
<tr>
    <td>{{oferta.informacion_laboral}}</td>
    <td>{{oferta.empresa}}</td>    
    <td><a href="" class="btn btn-warning"><i class="fas fa-edit"></i></a><a href="" class="btn btn-danger"><i
                class="fas fa-trash-alt"></i></a></td>
</tr>
{% endfor %}
{% else %}
<td>No existe ningun registro de ofertas laborales</td>
{% endif %}

{% endblock tbody %}

{% block actualizarTbl%}
<div class="section-footer bg-whitesmoke br">
    <a class="btn btn-success" href="{% url 'lista_oferta_laboral' %}" style="cursor:pointer; color:white;"><i
            class="fas fa-sync-alt"></i>
        Actualizar</a>
</div>
{% endblock %}