{% extends 'list.html' %}
{% load static %}

{% block tituloLista %}
<h1>Lista de Instruccion Formal</h1>
{% endblock %}

{% block thead %}
<tr>
    <th>Hoja de vida</th>
    <th>Nivel de Instruccion</th>
    <th>Titulo obtenido</th>    
    <th>Registro SENECYT</th>   
    <th>Opciones</th>
</tr>
{% endblock thead %}

{% block tbody %}


{% if object_list %}
{% for instruccion in object_list %}
<tr>
    <td>{{instruccion.hoja_de_vida}}</td>
    <td>{{instruccion.nivel_de_instruccion}}</td>
    <td>{{instruccion.titulo_obtenido}}</td>
    <td>{{instruccion.no_del_registro_senescyt}}</td>

    <td><a href="{% url 'editar_instruccion_formal' instruccion.id_instruccion_formal %}" class="btn btn-warning"><i
                class="fas fa-edit"></i></a>
        <a href="{% url 'eliminar_instruccion_formal' instruccion.id_instruccion_formal %}" class="btn btn-danger"><i
                class="fas fa-trash-alt"></i></a>
    </td>
</tr>
{% endfor %}
{% else %}
<td>No existe ningun registro de instrucciones formales</td>
{% endif %}

{% endblock tbody %}

{% block actualizarTbl%}
<div class="section-footer bg-whitesmoke br">
    <a class="btn btn-success" href="{% url 'lista_logros_personales' %}" style="cursor:pointer; color:white;"><i
            class="fas fa-sync-alt"></i>
        Actualizar</a>
</div>
{% endblock %}