{% extends 'list.html' %}
{% load static %}

{% block tituloLista %}
<h1>Lista de Hojas de vida</h1>
{% endblock %}

{% block thead %}
<tr>
    <th>Hoja de vida </th>
    <th>Estudiante</th>        
    <th>Opciones</th>
</tr>
{% endblock thead %}

{% block tbody %}


{% if object_list %}
{% for hoja in object_list %}
<tr>
    <td>{{hoja.id_hoja_de_vida}}</td>
    <td>{{hoja.estudiante}}</td>    
    <td><a href="{% url 'editar_hoja_de_vida' hoja.id_hoja_de_vida %}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
        <a href="{% url 'eliminar_hoja_de_vida' hoja.id_hoja_de_vida %}" class="btn btn-danger"><i
                class="fas fa-trash-alt"></i></a></td>
</tr>
{% endfor %}
{% else %}
<td>No existe ningun registro de hojas de vida</td>
{% endif %}

{% endblock tbody %}

{% block actualizarTbl%}
<div class="section-footer bg-whitesmoke br">
    <a class="btn btn-success" href="{% url 'lista_hoja_de_vida' %}" style="cursor:pointer; color:white;"><i
            class="fas fa-sync-alt"></i>
        Actualizar</a>
</div>
{% endblock %}