{% block content %}
<div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="#">Stisla</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="#">St</a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Inicio</li>
            <li><a class="nav-link" href="#"><i class="fas fa-fire"></i> <span>Inicio</span></a></li>
            <li class="menu-header">Administración</li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Carrera</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="#">Nueva Carrera</a></li>
                    <li><a class="nav-link" href="#">Lista de Carreras</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Estudiante</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="#">Nuevo Estudiante</a></li>
                    <li><a class="nav-link" href="#">Lista Estudiantes</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Oferta Laboral</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="#">Nueva Oferta</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Encuesta Laboral</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="#">Nueva Encuesta</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Empresa</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="#">Lista de Empresas</a></li>
                    <li><a class="nav-link" href="#">Nueva Empresa</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Periodo Académico</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="#">Lista de Periodos Académicos</a></li>
                    <li><a class="nav-link" href="#">Nueva Periodo Académico</a></li>
                </ul>
            </li>
        </ul>

    </aside>
</div>
{% endblock content %}