{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="section">
  <div class="section-header">
    {% block tituloFrm %}
    {% endblock %}
  </div>
  <div class="section-body">
    <h2 class="section-title">Formulario</h2>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}

              {% for g in request.user.groups.all %}

              {% for field in form.visible_fields %}
              <div class="form-group">
                <label for='name'>{{ field.label }}</label>
                {{ field }}
              </div>

              {% endfor %}

              {% if form2 %}
              {% block tituloFrm2 %}
              {% endblock %}
              {% for field in form2.visible_fields %}
              <div class="form-group">
                <label for='name'>{{ field.label }}</label>
                {{ field }}
              </div>
              {% endfor %}
              {% endif %}

              {% if tam > 2 %}
              {% block tituloFrm3 %}
              {% endblock %}

              {% for field in form3.visible_fields %}
              <div class="form-group">
                <label for='name'>{{ field.label }}</label>
                {{ field }}
              </div>
              {% endfor %}

              {% block tituloFrm4 %}
              {% endblock %}

              {% for field in form4.visible_fields %}
              <div class="form-group">
                <label for='name'>{{ field.label }}</label>
                {{ field }}
              </div>
              {% endfor %}

              {% block tituloFrm5 %}
              {% endblock %}

              {% for field in form5.visible_fields %}
              <div class="form-group">
                <label for='name'>{{ field.label }}</label>
                {{ field }}
              </div>
              {% endfor %}

              {% block tituloFrm6 %}
              {% endblock %}

              {% for field in form6.visible_fields %}
              <div class="form-group">
                <label for='name'>{{ field.label }}</label>
                {{ field }}
              </div>
              {% endfor %}

              {% block tituloFrm7 %}
              {% endblock %}

              {% for field in form7.visible_fields %}
              <div class="form-group">
                <label for='name'>{{ field.label }}</label>
                {{ field }}
              </div>
              {% endfor %}

              {% endif %}

              {% endfor %}
              <div>
                <button type="submit" class="btn btn-success">
                  <i class="fas fa-user"></i> Guardar
                </button>
                {% block volver %}
                {% endblock volver %}
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}