{% block content %}
<div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="{% url 'index' %}">Stisla</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'index' %}">St</a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Inicio</li>
            <li><a class="nav-link" href="{% url 'index' %}"><i class="fas fa-fire"></i> <span>Inicio</span></a></li>
            <li class="menu-header">Administración</li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Carrera</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_carrera' %}">Nueva Carrera</a></li>
                    <li><a class="nav-link" href="{% url 'lista_carrera' %}">Lista de Carreras</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Periodo Académico</span></a>
                <ul class="dropdown-menu">                    
                    <li><a class="nav-link" href="{% url 'registro_periodo_academico' %}">Nueva Periodo Académico</a></li>
                    <li><a class="nav-link" href="{% url 'lista_periodo_academico' %}">Lista</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Estudiante</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_estudiante' %}">Nuevo Estudiante</a></li>
                    <li><a class="nav-link" href="{% url 'lista_estudiante' %}">Lista Estudiantes</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Mejor Graduado</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_mejor_graduado' %}">Nuevo</a></li>
                    <li><a class="nav-link" href="{% url 'lista_mejor_graduado' %}">Lista</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Empresa</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_empresa' %}">Nueva Empresa</a></li>
                    <li><a class="nav-link" href="{% url 'lista_empresa' %}">Lista de Empresas</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Oferta Laboral</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_oferta_laboral' %}">Nueva Oferta</a></li>
                    <li><a class="nav-link" href="{% url 'lista_oferta_laboral' %}">Lista de Ofertas</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Encuesta Laboral</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_encuesta_laboral' %}">Nueva Encuesta</a></li>
                    <li><a class="nav-link" href="{% url 'lista_encuesta_laboral' %}">Lista de Encuestas</a></li>
                </ul>
            </li>
                    
            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Hojas de Vida</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_hoja_de_vida' %}">Nueva hoja de vida</a></li>
                    <li><a class="nav-link" href="{% url 'lista_hoja_de_vida' %}">Lista de hojas de vida</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Logros Personales</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_logros_personales' %}">Nuevo Logro</a></li>
                    <li><a class="nav-link" href="{% url 'lista_logros_personales' %}">Lista de logros</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Preferencias Laborales</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_preferencias_laborales' %}">Nueva Prefencia</a></li>
                    <li><a class="nav-link" href="{% url 'lista_preferencias_laborales' %}">Lista de Preferencias</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Capacitaciones</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_capacitaciones' %}">Nueva Capacitacion</a></li>
                    <li><a class="nav-link" href="{% url 'lista_capacitaciones' %}">Lista de Capacitaciones</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Experiencia Laboral</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_experiencia_laboral' %}">Nueva Experiencia</a></li>
                    <li><a class="nav-link" href="{% url 'lista_experiencia_laboral' %}">Lista de Experiencia</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Instruccion Formal</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_instruccion_formal' %}">Nueva Instruccion</a></li>
                    <li><a class="nav-link" href="{% url 'lista_instruccion_formal' %}">Lista de Instruccion</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="nav-link has-dropdown" href=""><i class="fas fa-th"></i><span>Referencias personales</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'registro_referencias_personales' %}">Nueva Referencias</a></li>
                    <li><a class="nav-link" href="{% url 'lista_referencias_personales' %}">Lista Referencias</a></li>
                </ul>
            </li>
        </ul>

    </aside>
</div>
{% endblock content %}